
.form-container {
    padding: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.form-container h1 {
    color: #FF5555; /* Light red text */
    font-size: 24px;
}

.form-container p {
    color: #927474; /* Light red text */
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 600px;
    word-wrap: break-word;
}

form {
    margin-top: 20px;
}

form > div {
    margin-bottom: 15px;
}

form > div > label {
    display: block;
    color: #393939; /* Light red text */
    font-size: 19px;
    margin-bottom: 5px;
}
form > div > textarea,
form > div > input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    border: 0px solid #9a9a9a; /* Light red border */
    border-bottom: 2px solid rgb(154, 154, 154);
    background-color: #faf9f9; /* White background */
    color: #2a2a2a; /* Light red text */
    font-size: 16px;
    resize: none;
    outline: none;
}

form > div > textarea {
    height: 100px;
}

form > div > textarea::placeholder,
form > div > input::placeholder {
    color: #adadad;
}

form > div > textarea:focus,
form > div > input:focus {
    border: 0px solid #9a9a9a;
    border-bottom: 2px solid rgb(47, 47, 47);
}

form > a {
    text-decoration: none;
    font-size: 18px;
    color: #FF5555;
}

form > a:hover {
    text-decoration: underline;
}


form > button[type="submit"] {
    padding: 10px 20px;
    background-color: #FF5555;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}