@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: #824E4B;
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
}

textarea,
input {
    font-family: 'Rubik', sans-serif;
}
  
.loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px thin #db4d34;
    border-top: 4px solid #db4d34;
    animation: spin 0.5s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}